body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../media-2/giphy.webp');
  background-size: cover;
  background-position: center;
}

body,
.wrapper {
  font-family: 'Public Sans Web', sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
  transition: 0.3s ease;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 5em;
}
header,
footer {
  flex: 1;

  border-radius: 5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.section-one {
  flex: 4;

  display: flex;
  gap: 2rem;
}

/* style for inside section */

.col-left {
  flex: 2;

  border-radius: 5rem;
  background-color: rgb(244, 245, 245);
}
.col-right {
  flex: 1;

  border-radius: 5rem;
  background-color: rgb(194, 163, 101);
}

.second .section-one {
  flex-direction: row-reverse;
}

footer {
  background-color: rgb(83, 18, 223);
}

.logo {
  width: 350px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex: 1;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  flex: 1;
}
ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0.2;
}
ul li a {
  text-decoration: none;
  background-color: rgb(115, 21, 41);
  padding: 10px 20px;
  color: #e2d1d1;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5em;
  box-shadow: 1px 4px 15px rgb(137, 116, 116);
}

li a:hover {
  background-color: rgb(54, 77, 69);
  font-size: 30px;
  transition: 0.3s ease-in-out;
}

/* nasa article section */
.col-left {
  /* color: aliceblue; */
  font-size: 40px;
}
.article-div,
article {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  /* background-color: aliceblue; */
  color: black;
}
article {
  letter-spacing: 2px;
}

.apod {
  font-size: 15px;
  font-weight: 500;
}

.astronomy {
  font-size: 1.375rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.discovery {
  font-size: 22px;
  color: #5b5a5a;
}

.discovery a {
  color: #5b5a5a;
  text-decoration: underline dashed rgb(170, 166, 166) 2px;
  text-underline-offset: 3px;
}

.mars {
  width: 100%;
  margin-top: 1rem;
  border-radius: 20px;
}

@media (max-width: 968px) {
  .section-one,
  .wrapper.second section {
    flex-direction: column;
  }
  .wrapper {
    margin: 1em 2em;
    transition: 0.3s ease;
  }
  header {
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    flex: 0.5;
    gap: 0;
    font-size: 0.7em;
  }
 
}
